<html>
<head>
     <link href="/static/style.css" rel="stylesheet"></link>
</head>

<body style='color:green; font-family:"Tahoma";'>

  <div id='header'>

    <div id='profile'><a href='/profile'>Profile</a></div>
    <div id='quackit'><a href='/'>Quackit</a></div>
    <div id='friends'>Friends</div>
    <div id='groups'><a href='/groups'>Groups</a></div>
    <div id='search'>Search</div>
  </div>

  <div id='section'>
    <div id='active'>
      <div>Active Groups</div>
      <div id='box'>
        <div id='item'>
          <div id='groupname'>Movies</div>
          <div id='toppost'>"Whats your favorite movie?"</div>
        </div>
        <div id='item'>
          <div id='groupname'>Art</div>
          <div id='toppost'>"Van Gogh slaps"</div>
        </div>
      </div>
    </div>
  </div>

  <div id='section'>
    <div id='active'>
      <div>Active Friends</div>
      <div id='box'>
        <div id='item'>
          <div id='groupname'>Drew posted</div>
          <div id='toppost'>"I like pineapples"</div>
        </div>
      </div>
    </div>
  </div>

  <div id='section'>
    <div id='Recommended'>
      <div>Recommended</div>
      <div id='minibox'>
        <div id='groupname'>Fruit</div>
        <div id='groupname'>Card Games</div>
      </div>
    </div>

    <div id='line'></div>

      <div id='recfriends'>
        <div>Friends of Friends</div>
        <div id='minibox'>
          <div id='groupname'>Barrack</div>
          <div id='groupname'>Michelle</div>
        </div>
      </div>
    </div>

<script src="/static/main.js"></script>
</html>
