<html>
<head>
    <title>Quackit</title>
    <link href="/static/style.css" rel="stylesheet"></link>
</head>

<body style='color:green; background-color:white; font-family:"Tahoma";'>

  <div id='header'>

    <div id='profile'><a href='/profile'>Profile</a></div>
    <div id='quackit'><a href='/'>Quackit</a></div>
    <div id='friends'><a href = '/friends'>Friends</a></div>
    <div id='groups'><a href='/groups'>Groups</a></div>
    <div id='search'>Search</div>
  </div>

  <div id='section'>
    <div id='active'>
      <div>Active Groups</div>
      <div id='box' name='activegroupsbox'>
       <!-- <div id='item'>
          <div id='groupname'>Movies</div>
          <div id='toppost'>"Whats your favorite movie?"</div>
        </div>
        <div id='item'>
          <div id='groupname'>Art</div>
          <div id='toppost'>"Van Gogh slaps"</div>
        </div> -->
      </div>
    </div>
  </div>

  <div id='section'>
    <div id='active'>
      <div>Active Friends</div>
      <div id='box' name='activefriendsbox'>
        <!-- <div id='item'>
          <div id='groupname'>Drew posted</div>
          <div id='toppost'>"I like pineapples"</div>
        </div> -->
      </div>
    </div>
  </div>

  <div id='section'>
    <div id='Recommended'>
      <div>Recommended</div>
      <!--<div id='minibox'>
        <div id='groupname'>Fruit</div>
        <div id='groupname'>Card Games</div>
      </div> -->
    </div>

    <div id='line'></div>

      <div id='recfriends'>
        <div>Friends of Friends</div>
        <!--<div id='minibox'>
          <div id='groupname'>Barrack</div>
          <div id='groupname'>Michelle</div>
        </div>-->
      </div>
    </div>

<script>


function renderFollowedGroups(d){

    var box = document.getElementsByName("activegroupsbox")[0];
    console.log(box);

    if(d.length==0){
        var item = document.createElement("DIV");
        item.id = "item";
        var notification = document.createElement("DIV");
        notification.id = "toppost";
        notification.innerText = "You're Not Following Any Groups!";
        item.appendChild(notification);
        box.appendChild(item);
    }
    for(var i = 0; i< d.length; i ++){
        var item = document.createElement("DIV");
        item.id = "item";
        var groupname = document.createElement("DIV");
        groupname.id = "groupname";
        groupname.innerText = d[i].group;
        var toppost = document.createElement("DIV");
        toppost.id = "toppost";
        toppost.innerText = d[i].text;
        var link = document.createElement("A");
        link.href = "/groups/" + d[i].group;
        item.appendChild(groupname);
        item.appendChild(toppost);
        link.appendChild(item);
        box.appendChild(link);
    }

}

function renderRecommended(d){
    var rec = document.getElementById("Recommended");
    var box = document.createElement("DIV");
    box.id = "minibox";    
    for(var i=0; i<d.length;i++){
        if(i==2){break;}
        var groupname = document.createElement("DIV");
        groupname.id = "groupname";
        groupname.innerText = d[i].group;
        var link = document.createElement("A");
        link.href = "/groups/"+d[i].group;
        link.appendChild(groupname);
        box.appendChild(link);
    }
    rec.appendChild(box);
}

function renderActiveFriends(d){
    var box = document.getElementsByName("activefriendsbox")[0];
    var str = '';
    if(d.length==0){
        var item = document.createElement("DIV");
        item.id = "item";
        var notification = document.createElement("DIV");
        notification.id = "toppost";
        notification.innerText = "You Don't Have Any Friends :(";
        item.appendChild(notification);
        box.appendChild(item);
    }
    for(var i=0; i<d.length; i++){
        if(i==2){break;}
        str = '';
        var item = document.createElement("DIV");
        item.id = "item";
        var friendname = document.createElement("DIV");
        friendname.id = "groupname";
        var lastmessage = document.createElement("DIV");
        lastmessage.id = "toppost";
        str+=d[i].friend+' posted';
        friendname.innerText = str;
        str = '\"'+d[i].lastmessage+'\"'
        lastmessage.innerText = str;
        item.appendChild(friendname);
        item.appendChild(lastmessage);
        box.appendChild(item);
    }
}

function renderFOF(d){
    var recFriends = document.getElementById("recfriends");
    var box = document.createElement("DIV");
    box.id = "minibox";
    var str = '';
    
    for(var i=0; i<d.length;i++){
        str = '';
        if(i==2){break;}
        var friendname = document.createElement("DIV");
        friendname.id = "groupname";
        str+=d[i].friend;
        friendname.innerText = d[i].friend;
        box.appendChild(friendname);
    }
    recFriends.appendChild(box);
}

function data(){
    fetch(`/home/info`)
    .then(response => response.json())
    .then(data => {
        renderFollowedGroups(data)
        console.log(data)
   });

   fetch(`/home/recommended`)
   .then(response => response.json())
   .then(data => {
       renderRecommended(data)
       console.log(data)
   });

   fetch(`/home/activeFriends`)
   .then(response => response.json())
   .then(data => {
       renderActiveFriends(data)
       console.log(data)
   });
   
   fetch(`/home/fof`)
   .then(response => response.json())
   .then(data => {
       renderFOF(data)
       console.log(data)
   });
}

window.onload = function() {

    this.data();
}


</script>
</html>
