<html>
<head>
    <title>Login</title>
    <link href="/static/style.css" rel="stylesheet"></link>
</head>
<body id= "body" style='font-family:"Tahoma";'>

  <div id='header'>

    <div id = profile><a href = '/profile'>Profile</a></div>
    <div id='quackit'><a href='/'>Quackit</a></div>
    <div id='friends'>Friends</div>
    <div id='groups'><a href='/groups'>Groups</a></div>
    <div id='search'>Search</div>
  </div>
    
    <form method = "POST" action = "/login">
        <div>
         <p>
            <label>Username</label>
            <input type="text" name="username" required>
        </p>

        <p>
            <label>Password</label>
            <input type="password" name="password" required>
         </p>
          <button type="submit">Login</button>
        </div>
    </form>
    <p>
        <a href = "/register">Create an Account</a>
    </p>
</body>

</html>