<html>
<head><title>Profile</title></head>
<body>
    <h1>PLACEHOLDER FOR PROFILE PAGE</h1>
    <div id = login><a href = '/login'>Login</a></div>
    <div id = logout><a href = '/logout'>Logout</a></div>

    <div id = hellomessage>Text</div>



<script type='text/javascript'>
    var username = '{{ name }}'
    document.getElementById("hellomessage").innerText = "Hello, " + username;

 /*   function renderPage(d) {
        
        window.alert("test");
    }

function data(){
    //window.alert("test");
    var url = "/profile/";
    console.log(url);
    fetch(url)
        .then(response => response.text())
        .then(data => {
            console.log(data[0]);
           
            renderPage(data[0]);
        });
}

    window.onload = function() {

    this.data();
    
}*/
</script>
</body>

</html>