<html>
<head><title>Create your account</title></head>
<body>
    <h1>PLACEHOLDER FOR REGISTER PAGE</h1>

    <form>
        <div>
         <p>
            <label>Username</label>
            <input type="text" name="username" required>
        </p>

        <p>
            <label>Password</label>
            <input type="password" name="password" required>
        </p>

        <p>
            <label>Confirm Password</label>
            <input type="password" name="password" required>
        </p>
          <button type="submit">Create account</button>
        </div>
    </form>
</body>

</html>